### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [27]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
df1 = "Resources/schools_complete.csv"
df2 = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
School_Data_df = pd.read_csv(df1, encoding="utf-8")
Student_Data_df = pd.read_csv(df2, encoding="utf-8")

# Combine the data into a single dataset.  
school_data_complete = pd.merge(School_Data_df, Student_Data_df, how="left", on=["school_name", "school_name"])

school_data_complete

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84
...,...,...,...,...,...,...,...,...,...,...,...
39165,14,Thomas High School,Charter,1635,1043130,39165,Donna Howard,F,12th,99,90
39166,14,Thomas High School,Charter,1635,1043130,39166,Dawn Bell,F,10th,95,70
39167,14,Thomas High School,Charter,1635,1043130,39167,Rebecca Tanner,F,9th,73,84
39168,14,Thomas High School,Charter,1635,1043130,39168,Desiree Kidd,F,10th,99,90
39169,14,Thomas High School,Charter,1635,1043130,39169,Carolyn Jackson,F,11th,95,75

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
#Calculate the total number of schools
unique = school_data_complete["school_name"].unique()
school_count = len(unique)
school_count

15

In [3]:
#Calculate the total number of students
student_count = school_data_complete["student_name"].count()
student_count

39170

In [4]:
#Calculate the total budget
total_budget = School_Data_df["budget"].sum()
total_budget

24649428

In [5]:
#Calculate the average math score
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [6]:
#Calculate the average reading score
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [7]:
#Calculate the percentage of students with a passing math score (70 or greater)
Math_num = school_data_complete[school_data_complete["math_score"]>=70]["student_name"].count()

percent_of_students_math = (Math_num /student_count) * 100
percent_of_students_math

74.9808526933878

In [8]:
#Calculate the percentage of students with a passing reading score (70 or greater)
Reading_num = school_data_complete[school_data_complete["reading_score"]>=70]["student_name"].count()

percent_of_students_Reading = (Reading_num /student_count) * 100
percent_of_students_Reading

85.80546336482001

In [9]:
#Calculate the percentage of students who passed math and reading (70% Overall Passing)
Overall_num = school_data_complete[(school_data_complete["reading_score"]>=70)&(school_data_complete["math_score"]>=70)]["student_name"].count()

percent_of_students_OverallDist = (Overall_num  /student_count) * 100
percent_of_students_OverallDist

65.17232575950983

In [10]:
# Create DataFrame
Summary_df = pd.DataFrame({"Total schools":[school_count],
                           "Total students":[student_count],
                            "Total budget":[total_budget],
                           "Average math score":[average_math_score],
                           "Average reading score":[average_reading_score],
                           "% passing math":[percent_of_students_math],
                           "% passing reading":[percent_of_students_Reading],
                           "% overall passing":[percent_of_students_OverallDist]  
})
  
# Print the output.
Summary_df

,Total schools,Total students,Total budget,Average math score,Average reading score,% passing math,% passing reading,% overall passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [11]:
school_types = School_Data_df.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [12]:
per_school_counts = school_data_complete["school_name"].value_counts()
per_school_counts

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [13]:
school_counts_df  = pd.DataFrame(per_school_counts)

school_counts_df.rename(columns = {'index':'school','school_name':'StudentCount'}, inplace = True)

Df001 = school_counts_df.reset_index()
Df001.rename(columns={'index':'school'}, inplace = True)
Df001

                   school  StudentCount
0      Bailey High School          4976
1     Johnson High School          4761
2   Hernandez High School          4635
3   Rodriguez High School          3999
4    Figueroa High School          2949
5       Huang High School          2917
6        Ford High School          2739
7      Wilson High School          2283
8     Cabrera High School          1858
9      Wright High School          1800
10    Shelton High School          1761
11     Thomas High School          1635
12    Griffin High School          1468
13       Pena High School           962
14     Holden High School           427

In [14]:
#% Passing Math
Math_num = school_data_complete.loc[(school_data_complete["math_score"]>=70),["school_name","math_score"]]
Math_num
Count_of_students_MathGRP = Math_num.groupby(["school_name"]).count()
dfMathscore = Count_of_students_MathGRP.reset_index() 
dfMathscore

              school_name  math_score
0      Bailey High School        3318
1     Cabrera High School        1749
2    Figueroa High School        1946
3        Ford High School        1871
4     Griffin High School        1371
5   Hernandez High School        3094
6      Holden High School         395
7       Huang High School        1916
8     Johnson High School        3145
9        Pena High School         910
10  Rodriguez High School        2654
11    Shelton High School        1653
12     Thomas High School        1525
13     Wilson High School        2143
14     Wright High School        1680

In [15]:
#% Passing Reading
Reading_num = school_data_complete.loc[(school_data_complete["reading_score"]>=70),["school_name","reading_score"]]
Reading_num
Count_of_students_ReadingGRP = Reading_num.groupby(["school_name"]).count()
dfReadingscore = Count_of_students_ReadingGRP.reset_index() 
dfReadingscore

              school_name  reading_score
0      Bailey High School           4077
1     Cabrera High School           1803
2    Figueroa High School           2381
3        Ford High School           2172
4     Griffin High School           1426
5   Hernandez High School           3748
6      Holden High School            411
7       Huang High School           2372
8     Johnson High School           3867
9        Pena High School            923
10  Rodriguez High School           3208
11    Shelton High School           1688
12     Thomas High School           1591
13     Wilson High School           2204
14     Wright High School           1739

In [16]:
dfMathscore['math_score'] /= dfMathscore['school_name'].map(Df001.set_index('school')['StudentCount'])
dfMathscore

              school_name  math_score
0      Bailey High School    0.666801
1     Cabrera High School    0.941335
2    Figueroa High School    0.659885
3        Ford High School    0.683096
4     Griffin High School    0.933924
5   Hernandez High School    0.667530
6      Holden High School    0.925059
7       Huang High School    0.656839
8     Johnson High School    0.660576
9        Pena High School    0.945946
10  Rodriguez High School    0.663666
11    Shelton High School    0.938671
12     Thomas High School    0.932722
13     Wilson High School    0.938677
14     Wright High School    0.933333

In [17]:
dfReadingscore['reading_score'] /= dfReadingscore['school_name'].map(Df001.set_index('school')['StudentCount'])
dfReadingscore

              school_name  reading_score
0      Bailey High School       0.819333
1     Cabrera High School       0.970398
2    Figueroa High School       0.807392
3        Ford High School       0.792990
4     Griffin High School       0.971390
5   Hernandez High School       0.808630
6      Holden High School       0.962529
7       Huang High School       0.813164
8     Johnson High School       0.812224
9        Pena High School       0.959459
10  Rodriguez High School       0.802201
11    Shelton High School       0.958546
12     Thomas High School       0.973089
13     Wilson High School       0.965396
14     Wright High School       0.966111

In [18]:
dfMathscore_copy = dfMathscore.copy()

In [19]:
dfMathscore_copy.rename(columns={'math_score':'% passing in math'}, inplace = True)
dfMathscore_copy * 100

                                          school_name  % passing in math
0   Bailey High SchoolBailey High SchoolBailey Hig...          66.680064
1   Cabrera High SchoolCabrera High SchoolCabrera ...          94.133477
2   Figueroa High SchoolFigueroa High SchoolFiguer...          65.988471
3   Ford High SchoolFord High SchoolFord High Scho...          68.309602
4   Griffin High SchoolGriffin High SchoolGriffin ...          93.392371
5   Hernandez High SchoolHernandez High SchoolHern...          66.752967
6   Holden High SchoolHolden High SchoolHolden Hig...          92.505855
7   Huang High SchoolHuang High SchoolHuang High S...          65.683922
8   Johnson High SchoolJohnson High SchoolJohnson ...          66.057551
9   Pena High SchoolPena High SchoolPena High Scho...          94.594595
10  Rodriguez High SchoolRodriguez High SchoolRodr...          66.366592
11  Shelton High SchoolShelton High SchoolShelton ...          93.867121
12  Thomas High SchoolThomas High SchoolThomas Hig...          93.272171
13  Wilson High SchoolWilson High SchoolWilson Hig...          93.867718
14  Wright High SchoolWright High SchoolWright Hig...          93.333333

In [20]:
dfReadingscore_copy = dfReadingscore.copy()

In [21]:
dfReadingscore_copy.rename(columns={'reading_score':'% passing in reading'}, inplace = True)
dfReadingscore_copy * 100

                                          school_name  % passing in reading
0   Bailey High SchoolBailey High SchoolBailey Hig...             81.933280
1   Cabrera High SchoolCabrera High SchoolCabrera ...             97.039828
2   Figueroa High SchoolFigueroa High SchoolFiguer...             80.739234
3   Ford High SchoolFord High SchoolFord High Scho...             79.299014
4   Griffin High SchoolGriffin High SchoolGriffin ...             97.138965
5   Hernandez High SchoolHernandez High SchoolHern...             80.862999
6   Holden High SchoolHolden High SchoolHolden Hig...             96.252927
7   Huang High SchoolHuang High SchoolHuang High S...             81.316421
8   Johnson High SchoolJohnson High SchoolJohnson ...             81.222432
9   Pena High SchoolPena High SchoolPena High Scho...             95.945946
10  Rodriguez High SchoolRodriguez High SchoolRodr...             80.220055
11  Shelton High SchoolShelton High SchoolShelton ...             95.854628
12  Thomas High SchoolThomas High SchoolThomas Hig...             97.308869
13  Wilson High SchoolWilson High SchoolWilson Hig...             96.539641
14  Wright High SchoolWright High SchoolWright Hig...             96.611111

In [22]:
per_school_budget = school_data_complete.groupby(["school_name"]).sum()["budget"]
per_school_budget

school_name
Bailey High School       15549641728
Cabrera High School       2009159448
Figueroa High School      5557128039
Ford High School          4831365924
Griffin High School       1346890000
Hernandez High School    14007062700
Holden High School         105933149
Huang High School         5573322295
Johnson High School      14733628650
Pena High School           563595396
Rodriguez High School    10186904637
Shelton High School       1860672600
Thomas High School        1705517550
Wilson High School        3012587442
Wright High School        1888920000
Name: budget, dtype: int64

In [23]:
per_student_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
per_student_budget.head

<bound method NDFrame.head of school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64>

In [24]:
average_math_score = school_data_complete.groupby(["school_name"]).mean()["math_score"]
average_math_score

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [25]:
average_reading_score = school_data_complete.groupby(["school_name"]).mean()["reading_score"]
average_reading_score

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [26]:
# Create DataFrame


# Print the output.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type